<div>
  <div>
    <h1>
      List of all players
    </h1>
  </div>
</div>


    <table class="table table-striped table-hover ">
      <thead >
        <tr >
          <th scope="col">First name</th>
          <th scope="col">Last name</th>
          <th scope="col">Team ID</th>
          <th scope="col"></th>
          
  </tr>
      </thead>
      <tbody class="table-group-divider">
       <% players=Player.all %>
        <% players.each do |a_player| %>
          <tr>
            <td><%= a_player.first_name %></td>
            <td><%= a_player.last_name %></td>
            <td><%= a_player.team_id %></td>
            <td><a href="/players/<%=a_player.id%>" class="btn btn-primary ">Show details</a></td>
        <%end%>
        
        </tbody>
      </table>

